<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="HansenAccelaReqTypeMappings" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="HansenAccelaPriorityMappings" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="HansenAccelaStatusMappings" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <HansenAccelaReqTypeMappings>
    <!---key is the Hansen Request Type Code / value is the Accela Complaint 1 value -->
    <add key="HIAD" value="APPLIANCES DEFECTIVE" />
    <add key="HIAF" value="ANIMAL FECES" />
    <add key="HIAITM" value="ANIMALS ILLEGAL OR TOO MANY" />
    <add key="HICB" value="COMMERCIAL BUSINESSES" />
    <add key="HICHEMSPILL" value="CHEMICAL SPILLS" />
    <add key="HICOMZ" value="COMMERCIAL ZONING PROBLEMS" />
    <add key="HID" value="DUMPING" />
    <add key="HIEP" value="ELECTRICAL PROBLEMS" />
    <add key="HIEXTSTR" value="EXTERIOR STRUCTURE PROBLEMS/DETERIORATED" />
    <add key="HIFDD" value="FIRE DAMAGED DETERIORATED" />
    <add key="HIFNC" value="FENCE CONSTRUCTION" />
    <add key="HIG" value="GRAFFITI" />
    <add key="HIGC" value="GRASS COMPLAINTS" />
    <add key="HIGCR" value="GROUNDCOVER" />
    <add key="HIGSAD" value="GARAGE SHED ACCESSORY STRUCTURE DETERIORATED" />
    <add key="HIHA" value="HISTORICAL AREAS" />
    <add key="HIHACP" value="HEATING AC PROBLEMS" />
    <add key="HIHIST" value="HISTORICAL AREA VIOLATIONS" />
    <add key="HIHKI" value="HOUSE KEEPING ISSUES" />
    <add key="HIHSD" value="HANDRAIL STEPS DETERIORATED" />
    <add key="HIIO" value="ILLEGAL OCCUPANCY" />
    <add key="HIIR" value="ILLEGAL REPAIRS" />
    <add key="HIIREQ" value="HOUSING INSPECTION GENERAL INFORMATION" />
    <add key="HIIRH" value="ILLEGAL ROOMING HOUSE" />
    <add key="HIJA" value="JUNKED ABANDONED" />
    <add key="HINP" value="NUISANCE PROPERTY" />
    <add key="HINUTIL" value="NO UTILITIES" />
    <add key="HINWS" value="NO WATER SERVICE" />
    <add key="HIOBT" value="OVERGROWN BUSHES TREES" />
    <add key="HIOS" value="OUTDOOR STORAGE" />
    <add key="HIOTC" value="OVERFLOWING TRASH CAN DUMPSTER" />
    <add key="HIPA" value="PROHIBITED ANIMALS" />
    <add key="HIPITG" value="PARKING IN THE GRASS" />
    <add key="HIPP" value="PLUMBING PROBLEMS" />
    <add key="HIPSDP" value="PUBLIC SIDEWALK DRIVEWAY PROBLEMS" />
    <add key="HIR" value="RESIDENTIAL (HOME BUSINESS)" />
    <add key="HIRESZ" value="RESIDENTIAL ZONING PROBLEMS" />
    <add key="HIRI" value="RODENTS INSECTS" />
    <add key="HIRREIN" value="REQUESTING REINSPECTION" />
    <add key="HISD" value="HOUSE STRUCTURE DETERIORATED" />
    <add key="HISDP" value="SMOKE DETECTOR PROBLEMS" />
    <add key="HISDR" value="SMOKE DETECTORS REQUIRED" />
    <add key="HISHOC" value="ALL SAFETY HAZARDS INCLUDING OPEN CISTERNS" />
    <add key="HISHSFW" value="SAFETY HAZARDS STEPS FLOORS WALLS" />
    <add key="HITP" value="TIRES PARTS" />
    <add key="HITYNA" value="TRASH IN YARD OR NEAR ALLEY" />
    <add key="HIUL" value="UNLICENSED" />
    <add key="HIUVSP" value="UNAUTHORIZED VEHICLE PARKED OR STORED ON YOUR PROPERTY" />
    <add key="HIWTRP" value="WATER PROBLEMS" />
    <add key="HIYD" value="YARD DRAINAGE" />
  </HansenAccelaReqTypeMappings>
  <HansenAccelaPriorityMappings>
    <!---key is the Hansen Priority Code / value is the Accela Priority value -->
    <add key="1" value="High" />
    <add key="2" value="Low" />
    <add key="3" value="Medium" />
    <add key="4" value="Medium" />
    <add key="4T" value="Medium" />
    <add key="5R" value="High" />
    <add key="9" value="Medium" />
  </HansenAccelaPriorityMappings>
  <HansenAccelaStatusMappings>
    <!---key is the Hansen Resolution Code / value is the Accela Status value -->
    <add key="COMPLETE" value="DUPLICATE" />
    <add key="COMPLETE" value="EMAIL RESPONSE" />
    <add key="COMPLETE" value="INSPECTOR SPOKE TO THE PARTY" />
    <add key="COMPLETE" value="NO VIOL" />
    <add key="COMPLETE" value="REFERRED FOR GRAFFITI REMOVAL" />
    <add key="COMPLETE" value="REFERRED TO MONT. CO. SHERIFF" />
    <add key="COMPLETE" value="REFERRED TO POLICE" />
    <add key="COMPLETE" value="REFERRED TO PUBLIC WORKS" />
    <add key="COMPLETE" value="REFERRED TO VACANT LAND" />
    <add key="COMPLETE" value="REFERRED TO WASTE COLLECTION" />
    <add key="COMPLETE" value="VIOLATION NOT AT THIS ADDRESS" />
    <add key="COMPLETE" value="VOID" />
    <add key="COMPLETE" value="VOLUNTARY COMPLIANCE" />
    <add key="COMPLETE" value="DEMOLISHED BY CITY" />
    <add key="COMPLETE" value="DEMOLISHED BY OWNER" />
    <add key="COMPLETE" value="LEGAL ORDER BEING REISSUED" />
    <add key="COMPLETE" value="MINOR VIOLATION DEFERRED" />
    <add key="COMPLETE" value="SECOND ATTEMPT TO CONTACT" />
    <add key="COMPLETE" value="VIOLATIONS CORRECTED" />
    <add key="IN PROGESS" value="TEAM INSPECTION FOR NUISANCE" />
    <add key="IN PROGRESS" value="IN VIOLATION" />
    <add key="IN PROGRESS" value="LEGAL ORDER ISSUED" />
    <add key="IN PROGRESS" value="NEW NOTICE ISSUED" />
    <add key="IN PROGRESS" value="STRUCTURAL NUISANCE ORDER" />
    <add key="IN PROGRESS" value="WARNING NOTICE ISSUED" />
    <add key="IN PROGRESS" value="COURT – THIRD DEGREE" />
    <add key="IN PROGRESS" value="COURTESY NOTICE ISSUED" />
    <add key="IN PROGRESS" value="EMERGENCY ORDER ISSUED" />
    <add key="IN PROGRESS" value="EXTENSION GRANTED" />
    <add key="IN PROGRESS" value="REINSPECTION FEE ASSESSED" />
    <add key="RECEIVED" value="NEW" />
  </HansenAccelaStatusMappings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
    <logger name="NHibernate">
      <level value="WARN" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="WARN" />
    </logger>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} [%thread] - %m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="wslogs\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <maxSizeRollBackups value="15" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} [%thread] - %m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="wslogs\Exceptions" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <maxSizeRollBackups value="15" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} [%thread] - %m%n" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="HansenBaseUri" value="http://wtrhan84ts/webservices" />
    <add key="HansenProvider" value="han84" />
    <add key="HansenWSUser" value="jlloyd" />
    <add key="HansenWSPassword" value="hansen" />
    <add key="AddedDateTime" value="08/01/2016" />
    <add key="AddedByComment" value="Added by HansenAccelService" />
    <add key="HansenDefaultMediumPriority" value="3" />
    <add key="HansenDefaultCompleteStatus" value="VIOLATIONS CORRECTED" />
    <add key="HansenDefaultInProgressStatus" value="IN VIOLATION" />
    <add key="HansenDefaultResolutionCode" value="COMPL" />
    <add key="HansenInspectorLastName" value="INSPECTOR" />
    <add key="HansenInspectorFirstName" value="HOUSING" />
    <add key="AccelaServiceProviderCode" value="DAYTON" />
    <add key="AccelaHansenSRLabel" value="Hansen SR#" />
    <add key="AccelaComplaint1Label" value="Complaint 1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HansenAccelaServices.HansenServiceRequests" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IHansenServiceRequests" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.HansenAuth" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IHansenAuth" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.HansenCustomerCall" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IHansenCustomerCall" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.HansenServiceRequestType" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IHansenServiceRequestType" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.HansenEmployee" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IHansenEmployee" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.HansenAccessUser" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IHansenAccessUser" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.HansenAddresses" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IHansenAddresses" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.HansenSetAccelaRecordId" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IHansenSetAccelaRecordId" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.HansenServiceRequestCreate" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IHansenServiceRequestCreate" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.LogTest" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.ILogTest" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.TestMapping" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.ITestMapping" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.HansenUpdateStatus" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IHansenUpdateStatus" behaviorConfiguration="web"></endpoint>
      </service>
      <service name="HansenAccelaServices.AccelaCasesNotInHansen" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="HansenAccelaServices.IAccelaCasesNotInHansen" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <!--<add binding="basicHttpsBinding" scheme="https" />-->
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="Accela73Entities" connectionString="metadata=res://*/Data.AccelaModel.csdl|res://*/Data.AccelaModel.ssdl|res://*/Data.AccelaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.16.81.22;initial catalog=AccelaDev;persist security info=True;user id=accela;password=Pw4accela!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="Accela73Entities" connectionString="metadata=res://*/Data.AccelaModel.csdl|res://*/Data.AccelaModel.ssdl|res://*/Data.AccelaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ad40intsql2\ACCELA;initial catalog=Accela73;persist security info=True;user id=accela;password=Pw4accela!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>